Package: solar2dtux
Version: 1.0
Section: devel
Priority: optional
Architecture: amd64
Homepage: https://github.com/DannyGlover/Solar2D
Depends: 
Maintainer: Danny Glover (revolt64@outlook.com), Rob Craig (rcraig12@gmail.com)
Description: Solar2DTux is the Linux version of Solar2D.
 Solar2DTux is a cross-platform framework for making Games & Programs. 
 Solar2D is ideal for rapidly creating apps and games for mobile devices, TV, desktop systems and HTML5.
 .
 That means you can create your project once and publish it to multiple types of devices,
 including Apple iPhone and iPad, Android phones and tablets, Amazon Fire, Mac
 Desktop, Windows Desktop, Linux, HTML5 and even connected TVs such as Apple TV
 , Fire TV, and Android TV.
 .
 Source Code: https://github.com/DannyGlover/Solar2DTux
 .
 Patreon: https://patreon.com/dannyglover
 .
 Ko-Fi: https://ko-fi.com/dannyglover
